# Creating the dataset from Barnabe 2011

In [32]:
import numpy as np
import matplotlib.pyplot as plt
from glob import glob
import pandas as pd
import csv

### Loading the data

In [33]:
data = np.loadtxt('./raw_data/Barnabe_2011.txt', skiprows = 1, delimiter=',',usecols=np.arange(1, 11))
datasup = pd.read_csv('./raw_data/Auger_2009.csv')

In [34]:
cond = np.array([2,6,17,18,24,40,43,62,69,77,78,80,81])

In [42]:
logML = datasup['logMc'].values[cond]
M = 10**(logML)
fDM = data[:-3,3]
higherror = data[:-3,4]
lowerror = data[:-3,5]

### Making the final csv file

In [43]:
# Writing the data into a CSV file
with open('dataset/BARNABE11.csv', 'w', newline='') as csvfile:
    writer = csv.writer(csvfile)

    # Writing the name line and the unit line
    writer.writerow([ "M*","fDM(Reff)", "+sigma_fdm(Reff)", "-sigma_fdm(Reff)"])
    writer.writerow(["[Msun]","None", "None", "None"])

    # Looping through each element of the data
    for i in range(len(data)):
        Mass = M[i]

        fDMeff = fDM[i]
        psigma_fdmeff = higherror[i]
        msigma_fdmeff = lowerror[i]
        # Writing the data into the CSV file
        writer.writerow([ Mass, fDMeff, psigma_fdmeff, msigma_fdmeff])
        
# Reading the CSV file into a DataFrame
barnabe = pd.read_csv('dataset/BARNABE11.csv')
barnabe

                    M*  fDM(Reff)  +sigma_fdm(Reff)  -sigma_fdm(Reff)
0               [Msun]        NaN               NaN               NaN
1    301995172040.2019       0.66              0.04             -0.05
2     616595001861.481       0.83              0.03             -0.03
3   512861383991.36584       0.77              0.03             -0.04
4    524807460249.7734       0.81              0.03             -0.03
5    81283051616.40994       0.71              0.04             -0.05
6    301995172040.2019       0.57              0.06             -0.11
7     338844156139.202       0.35              0.10             -0.08
8    147910838816.8207       0.51              0.07             -0.09
9   281838293126.44495       0.50              0.09             -0.11
10  158489319246.11108       0.62              0.05             -0.06
11  251188643150.95822       0.69              0.05             -0.05
12    295120922666.639       0.69              0.04             -0.05
13  223872113856.83377       0.51              0.08             -0.10