# Creating the dataset from Yang2024

In [6]:
import numpy as np
import matplotlib.pyplot as plt
from glob import glob
import pandas as pd
import csv

### Loading the data

In [11]:
data=np.loadtxt('./raw_data/Yang_2024.txt',  usecols=np.arange(1, 5))
names=np.loadtxt('./raw_data/Yang_2024.txt',  usecols=0, dtype = 'str')

### Selecting and converting data into the correct units

In [15]:
Name = names[:]
logM = data[:,0]
M = 10**logM
fDM = data[:,1]
ErrorfDM = data[:,2]
R = data[:,3]

### Making the final csv file

In [19]:
# Writing the data into a CSV file
with open('dataset/YANG24.csv', 'w', newline='') as csvfile:
    writer = csv.writer(csvfile)

    # Writing the name line and the unit line
    writer.writerow(["GalaxyName", "M*[Msun]", "fDM(Reff)", "ErrorfDM", "Reff[kpc]"])

    # Looping through each element of the DataFrame
    for i in range(len(Name)):
        name = Name[i]
        Mass = M[i]
        Reff = R[i]
        fDMeff = fDM[i]
        Err = ErrorfDM[i]
        # Writing the data into the CSV file
        writer.writerow([name, Mass, fDMeff, Err, Reff])
        
# Reading the CSV file into a DataFrame
Yang = pd.read_csv('dataset/YANG24.csv')
Yang

   GalaxyName      M*[Msun]  fDM(Reff)  ErrorfDM  Reff[kpc]
0     NGC0680  1.230269e+11       0.21      0.10       2.64
1     NGC1023  1.047129e+11       0.12      0.04       2.58
2     NGC2685  3.019952e+10       0.13      0.04       2.08
3     NGC2764  4.570882e+10       0.31      0.10       2.36
4     NGC3522  9.772372e+09       0.16      0.13       1.26
5     NGC3998  5.370318e+10       0.05      0.06       1.33
6     NGC4203  5.888437e+10       0.04      0.05       2.10
7     NGC5582  5.011872e+10       0.23      0.08       3.69
8     NGC5631  7.762471e+10       0.20      0.15       2.74
9     NGC6798  6.309573e+10       0.23      0.06       3.07
10   UGC03960  1.230269e+10       0.41      0.15       2.80